<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css"/>
    <link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.min.css"/>
    <title>Forecasting Version 2</title>

    <style>

        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-button-next, .swiper-button-prev {
            top:55%;
        }
    </style>


</head>
<body  ng-app="reports">

<div ng-controller="ForecastController" ng-init="init()" class="container-fluid">

    <div class="row-fluid" >
        <div class="col-sm-3 col-md-3 col-lg-3">

            <div class="f-panel row">

                <div style="margin: 20px;">

                    <h4><i class="fa fa-cogs"></i>&nbsp;Forecast Parameters</h4>

                  <div class="form-group">
                      <label for="dailyBudget">Date From</label>
                     <p class="input-group">
                          <input type="date" class="form-control" datepicker-popup="" ng-model="forecastParams.sDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required="required" style=""><!-- ngIf: isOpen -->
                          <span class="input-group-btn">
                          <button type="button" class="btn btn-default ng-click-active" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                     </p>
                  </div>

                    <div class="form-group">
                        <label for="dailyBudget">Date To</label>
                        <p class="input-group">
                            <input type="date" class="form-control" datepicker-popup="" ng-model="forecastParams.eDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required="required" style=""><!-- ngIf: isOpen -->
                          <span class="input-group-btn">
                          <button type="button" class="btn btn-default ng-click-active" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="dailyBudget">Daily Budget</label>
                        <input type="number" ng-model="forecastParams.dailyBudget" class="form-control" id="dailyBudget" placeholder="Daily Budget">
                    </div>
                    <div class="form-group">
                        <label for="budget">Budget</label>
                        <input type="number" ng-model="forecastParams.budget" class="form-control" id="budget" placeholder="Budget">
                    </div>
                    <div class="form-group">
                        <label for="cpcBid">CPC Bid</label>
                        <input type="number" ng-model="forecastParams.cpcBid" class="form-control" id="cpcBid" placeholder="CPC Bid">
                    </div>
                    <div class="form-group">
                        <label for="cpmBid">CPM Bid</label>
                        <input type="number" ng-model="forecastParams.cpmBid" class="form-control" id="cpmBid" placeholder="CPM Bid">
                    </div>
                    <button type="button" ng-click="runForcast()" class="btn btn-info">Forecast</button>

                </div>

            </div>


        </div>
        <div class="forecast-data-view-swipe col-sm-9 col-md-9 col-lg-9" spinner="busy" style="min-height: 500px;">
            <div forecast-calendar-multi="calendar" view-model="fvm" ng-init="" busy="busy" />
        </div>
    </div>

</div>

</body>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js" ></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
<script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="js/ui-bootstrap-custom-tpls-0.13.0.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/Swiper/dist/js/swiper.min.js"></script>
<script src="js/calendar.js"></script>
<script src="js/spin.js"></script>

<script src="app/reports.js"></script>
<script src="app/services/forcastingDataService.js"></script>
<script src="app/controllers/forcastingController.js"></script>
<script src="app/directives/endRepeat.js"></script>
<script src="app/directives/forecastPanel.js"></script>
<script src="app/directives/forecastCalenderMulti.js"></script>
<script src="app/directives/spinner.js"></script>



</html>