<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>

    <title>WO Programmatic Reports</title>
</head>
<body ng-app="reports">

<div ng-controller="ReportController" ng-init="init()" class="container-fluid">
    <div class="row">
        <div class="main col-sm-5 col-md-8 col-lg-7">
           <!--  <div publisers-list="publishers.SelectList"></div> -->
            <div publisher-list-two="publishers.data.SelectList"  fragment="htmlfragment" click="getPublisherValue()"></div>
            <div components items="data"></div>
        </div>
        <div class="col-sm-7 col-md-4 col-lg-5">

            <!--<div >-->
            <!--<ul ng-repeat="category in categories.data">-->
                <!--{{ category.Category }}-->
                <!--<li>-->
                    <!--<button><i class="fa fa-thumbs-o-up"></i></button>-->
                    <!--<button><i class="fa fa-thumbs-o-down"></i></button>-->
                <!--</li >-->
            <!--</ul>-->
            <!--</div >-->

            <tabset>
                <tab heading="Available Categories">
                    <div id="categories-container" >
                        <div class="category-search"><i class="fa fa-search"></i><input ng-model="searchText" type="search" class="form-control" id="exampleInputName2" placeholder="Search"></div>
                        <ul>
                            <li ng-repeat="category in categories.data | filter:searchText" ng-class-odd="'odd'" ng-class-even="'even'"  >
                                <span class="category-name" ng-class="{'indent':category.ParentId !== null,'category-header':category.ParentId === null}" >{{ category.Category}}</span>
                                <span class="category-buttons"><button><i class="fa fa-thumbs-o-up"></i></button><button><i class="fa fa-thumbs-o-down"></i></button></span>
                            </li>
                        </ul>
                    </div>
                </tab>
                <tab heading="Approved Categories">Short Labeled Justified content</tab>
                <tab heading="Rejected Categories">Long Labeled Justified content</tab>
            </tabset>



            <!--<div categories="categories.data"></div>-->
            <!--<div properties="selecteditems" names="selectednames" selected="selected" categories="advertiserdata"></div>-->

        </div>
    </div>
</div>

</body>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js" ></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="js/ui-bootstrap-custom-tpls-0.13.0.min.js"></script>

<script src="app/reports.js" ></script>
<script src="app/services/fakeDataService.js"></script>
<script src="app/controllers/ReportController.js"></script>
<script src="app/directives/components.js"></script>
<script src="app/directives/properties.js"></script>
<script src="app/directives/item.js"></script>
<script src="app/directives/advertiserCategories.js"></script>
<script src="app/directives/publishers.js"></script>
<script src="app/directives/categories.js"></script>

</html>